@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Leckerli+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');

/* color palette */
/* 
main color : crimson  
black: #0d0d0d
light-bg: #1a1a1a
white: #fff
light-color: #aaa
box-shadow: 0 .5rem 1rem rgba(0,0,0,0.7)
*/

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s linear;
    text-decoration: none;
}
:root{
    --main-color:#dc143c;
    --secondary-color: #fff;
    --black-color: #1a1a1a;
    --light-white: #aaa;
    --accent: #7c65c9;
}
a{
    text-decoration: none;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar{
    width: 1rem;
}
 
::-webkit-scrollbar-track{
    background: #0d0d0d;
}

::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
body{
    background-color: #0d0d0d;
    overflow: hidden;
}
/* ------- NAVIGATION MENU --------- */
.sidebar{
    width: 84px;
    z-index: 900;

position: fixed;
top:0;
left: 0;
bottom: 0;

    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-evenly;
    justify-content: space-evenly;
    background: #1a1a1a;

    box-shadow: 0 8px 32px 0 rgba(178, 179, 200, 0.37);
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    transition: width 0.3s ease;

    text-align: center;
}

#menu-bar{
    position: fixed;
    top:1rem;
    right: 1rem;
    background-color: #1a1a1a;    
    color: #fff;

    border-radius: .5rem;
    padding: 1rem 1.5rem;
    font-size: 3rem;
    display: none;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.7);
}

.navbar-list{
    height: inherit;
    list-style-type: none;

    display:flex;
    flex-direction: column;
    align-content:space-evenly;
    justify-content: space-evenly;
    margin:0;
    padding: 0;
}

.sidebar a{
    display: block;
    color:#fff;
    font-weight: 500;
    font-size: medium;
    margin: 2rem 0;
    
}
.sidebar a:hover{
    letter-spacing: 0.2rem;
    color:var(--main-color);
    
}
.sidebar:hover{
    width: 260px;
    background: #1a1a1a;
}

.nav-text{
    display: none;
    font-size: 20px;
    
}
.nav-icon{
    height: 44px;
}

.sidebar:hover .nav-text{
    display: block;
    
}
.sidebar:hover .nav-icon{
    display: none;
}
/*------------ HERO SECTION ------ */
section{
    padding: 1rem 0%;
    margin: auto;
}

.hero-section{
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
}

.hero-section::before {
     -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
     mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("../Images/bg-img.jpg");
  background-size: cover;
  filter: blur(5px) grayscale(100%);
}

.hero-section .hero-title{
    flex:1 1 100%;
    position: relative;
    text-align: center;
}
.hero-section .heroDiv{
    padding: 0 8%;
    flex:1 1 40rem;
    
}
.hero-title .hello-text{
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.2em;
    font-family: "Merritweather",sans-serif;
}
.hero-title .intro-text1{
    color: white;
    text-transform: uppercase;
    font-size : 5.5rem;
    line-height: 1.2em;
    padding: 0.5rem 0;
}

.hero-title .intro-text2{
    color: var(--main-color);
    text-transform: uppercase;
    font-size : 3.7rem;
    line-height: 1.2em;
    padding: 0.5rem 0;
    font-weight: 500;
}
.hero-title .info-text{
    font-size: 1.7rem;
    color: #fff;
    font-weight: 300;
    padding: 0.5rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: var(--main-color);
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    border-radius: 1rem;
}

.btn:hover{
    letter-spacing: 0.2rem;
}
.hero-section .heroDiv-img{
    width: 100%;
    filter: drop-shadow(0 0 2.75rem crimson);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: filter 0.3s ease-in;
}

.hero-section .heroDiv-img:hover{
    filter: drop-shadow(0 0 0.75rem crimson);
}

.heading{
    font-size: 4rem;
    padding-bottom: 2.5rem;
    color: #fff;
    text-transform: uppercase;
}

.heading span, .basic-info span, .about .row .info-text span, .education .head span{
    color: var(--main-color);
}

.heading{
    text-align: center;
}

.about, .skills, .projects, .education, .contact, .pagination{
    margin-bottom: 6%;
}
.about .info-text h2, .about .basic-info h2{
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 400;
}

.about .row{
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:2rem
}

.about .row .info-text{
    text-align: center;
    padding: 1.5rem 15%;
}

 .box-container, .flex-container{
padding: 1.5rem 12%;
}

.para2{
    margin: 3rem 0;
}

.download-btn{
    text-align: center;
    margin-top: 3rem;
}

/* --------SKILLS-------- */
.skills .box-container{
    display: grid;
    gap:1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem,2fr));
    
}

.skills .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.7);
    background: var(--black-color);
    border-radius: 0.5rem;
}

.skills .box-container .box img{
    height: 7rem;
    margin-bottom: 1rem;
}

.skills .box-container .box h3{
    color: var(--secondary-color);
    font-size: 1.7rem;
    font-weight: normal;
    cursor:default;
}

.skills .box-container .box:hover{
    background: var(--secondary-color);
    margin-top: -10px;
}

.skills .box-container .box:hover h3{
    color:#0d0d0d;
    font-weight: 500;
}

/* --------PROJECTS-------- */
.projects .project-container{
padding-bottom: 4.5rem;
}
.swiper {
      width: 75%;
    }

    .swiper-slide {
        display: flex;
        position: relative;
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
      border-radius: 10px;
      overflow: hidden;
    }

    .swiper-slide img {
      display: block;
      object-fit: cover;
      width: 100%;
    }

    .content{
        color: #fff;
        position: absolute;
        bottom: -120px;
        text-align: center;
        padding: 0 1rem;
        backdrop-filter: blur(5px) saturate(70%);
    }

    .swiper-slide-active:hover .content{
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .swiper-slide-active:hover img{
        filter: brightness(0.5);
    }
    
.swiper-slide h1,.swiper-slide p{
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.swiper-slide h1{
    font-size: 3rem;
}
.swiper-slide p{
font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-view{
    width: 100%;
}

.swiper-pagination{
    color: var(--secondary-color);
    font-size: 1.2rem;
    cursor: default;
}

.swiper-button-next{
left:60% !important;
transform: translateX(-60%) !important;
}

.slider-arrow{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left:40%;
    transform: translateX(-40%) ;
    top:calc(100% - 12px);
    
}

.slider-arrow ion-icon{
    font-size: 3rem;
    color:var(--main-color);
}
.slider-arrow::after{
    content: '';
    
}
.swiper-button-next, .swiper-button-prev {
    color: var(--main-color);
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 3.5rem;
} 



/* --------EDUCATION-------- */
.education .box-container{
    display: flex;
    flex-wrap: wrap;
}

.education .box{
    margin-left: 2rem;
    padding: 2rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    border-left: .1rem solid var(--secondary-color);
    position: relative;
    border-radius: 0 1rem 1rem 0;
}

.education .box-container .box i{
    color: var(--secondary-color);
    font-size: 1.8rem;
height:4.5rem;
width:4.5rem;
line-height: 4.5rem;
border-radius: 50%;
background: var(--main-color);
text-align: center;
position: absolute;
top:0;
left:-2rem;
}
 .education .box-container .box h1{
    color: var(--secondary-color);
    padding: 1rem 0;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.education .box-container .box span{
font-size:1.7rem;
padding:0.5rem 1.5rem;
color: var(--secondary-color);
border-radius: 5rem;
background: var(--black-color);
}

.education .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-white);
}

.education .head{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.education div h2{
    color: var(--secondary-color);
    font-size: 2.5rem;

}



/* --------CONTACT US-------- */
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.contact-subhead{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.container {
  padding: 0 20px;
}

.form-container{
    flex: 1 1 60%;
background: #171717;
    border-radius: 0 12px 12px 0px;
    padding: 40px 20px;
}

.info-container{
    display: flex;
    flex: 1 1 38%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #222 ;
    border-radius: 12px 0px 0px 12px;
}
.info-container .box{
    padding-bottom: 20px;
}
form{
    padding: 20px;
}
.info{
    color:#fff;
    font-size: 1.3rem;
    margin: 15px 0px;
}

.info i{
    display: inline;
    color:crimson;
    font-size: 2rem;

}
.info h3{
    display: inline;
    font-size: 2rem;
color: var(--main-color);
margin-left: 12px;
}
.info p{
    display: block;
    font-size: 1.8rem;
    
}

input[type=text], input[type=email],input[type=tel], textarea {
    background: #222;
    color:var(--secondary-color);
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0.7rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
    font-size: 14px;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: var(--main-color);
    border-radius: 0.7rem;
    letter-spacing: 0.1rem;
    float: right;
}

input[type=submit]:hover {
  background-color: var(--secondary-color);
  color: var(--black-color);
  letter-spacing: 0.2rem;
}

input:focus-visible, textarea:focus-visible {
  outline: 2px solid var(--main-color);
  border-radius: 3px;
}

input[type=text]:valid, input[type=email]:valid, input[type=tel]:valid, textarea:valid {
outline: 2px solid var(--secondary-color);
}

/* ------- FOOTER ------- */
.footer{
    background: var(--main-color);
}
.footer .footer-content{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 12%;
}
.footer h2{
    color: #fff;
    font-size: 1.7rem;
}
.footer .social-links{
    display: flex;
    padding-left: 12px;
}
.github-icon{
padding: 0 20px;
}
.footer h3{
    color: #fff;
    font-size: 1.6rem;
}
.footer i{
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
}
/*--------------------- MEDIA QUERY ---------------*/
@media (min-width: 1364px){
    body > *:not(.home-section, .side-navbar){
        padding-left: 10rem;
    }
    .about, .skills, .projects, .education, .contact, .pagination{
    margin-bottom: 5%;
    }
    .education .box{
    flex: 1 1 45rem;
}
.education .box-container .box:hover{
    background: var(--secondary-color);
}

.education .box-container .box:hover h1{
    color:var(--main-color);
}

.education .box-container .box:hover p{
    color:var(--black-color);
}

.education .box-container .box:hover span{
    background:var(--main-color);
}
.info-container{
    flex: 1 1 35%;
}
}

@media only screen and (max-width: 1363px) and (min-width: 993px){  
body > *:not(.home-section, .side-navbar){
        padding-left: 10rem;
    }
    .about, .skills, .projects, .education, .contact, .pagination{
    margin-bottom: 5%;
    }
    .education .box{
    flex: 1 1 30rem;
}
.education .box-container .box:hover{
    background: var(--secondary-color);
}

.education .box-container .box:hover h1{
    color:var(--main-color);
}

.education .box-container .box:hover p{
    color:var(--black-color);
}

.education .box-container .box:hover span{
    background:var(--main-color);
}

.contact-img{
    width:100%;
}

.form-container{
    flex-basis: 54%;
}

}

@media (max-width:992px) {
    html{
        font-size: 55%;
    }
    body{
        padding-left: 0;
    }

    .about, .skills, .projects, .education, .contact, .pagination{
    margin-bottom: 10%;
    }
    #menu-bar{
        display: initial;
    }
    .sidebar{
        left:-260px;
        width: 260px;
        box-shadow:none;
    }

    .sidebar.active{
        left:0px;
        box-shadow: inherit;
    }
    .nav-icon{
        display: none;
    }
    .nav-text{
    display: block;
    }
    .content{
        bottom: -102px;
    }
    .slider-arrow{
        top: calc(100% - 9px);
    }
    .education .box{
    flex: 1 1 30rem;
}

.form-container{
    flex-basis: 52%;
}

input[type=submit]{
    width: 100%;
}
}

@media (max-width:768px) {
    
    .intro-text{
        font-size: 32px;
    }
    .sidebar{
        width: 260px;
    }
    
    .hero-title{
        order: 1;
    }

    .hero-section .heroDiv{
        margin-top: 10%;
    }

    .swiper-button-next{
        left:calc(64% + 5px) !important;
        transform: translateX(-64%) !important;
    }
    
    .slider-arrow{
        left:calc(36% - 4px);
        transform: translateX(-36%);
    }

    .education .box{
    flex: 1 1 36rem;
    }

    .education .box1{
    order:1;
    }

    .education .box2{
    order:4;
    }
    .education .box3{
    order:2;
    }
    .education .box4{
    order:5;
    }
    .education .box5{
    order:3;
    }
    .education .box6{
    order:6;
    }
.education .head{
    display: none;
}

.contact-img-div{
    display: none;
}
.container{
    flex-basis: 100%;
}
.form-container, .info-container{
    border-radius: 12px;
}
.info-container{
    order:3;
}
.hidden-div{
    width: 100%;
    order: 2;
    height: 40px;
}
input[type=submit]{
    width: fit-content;
}

.footer h2{
    font-size: 1.6rem;
}

.footer h3{
    font-size: 1.5rem;
}

}


@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .sidebar{
        height: 100%;
    }
    
    .sidebar.active{
        width:65%;
        box-shadow: inherit;
    }
    section{
    padding: 1rem 5%;
}

    .about .row .info-text {
    padding: 1.5rem 0%;
}
    
    .hero-section{
        padding-bottom: 5vh;
    }

    .skills .box-container{
    grid-template-columns: repeat(auto-fit, minmax(12rem,2fr));   
}
.swiper{
    width: 95%;
}
    .swiper-slide{
        width: 276px;
        height: 276px;
    }
    .swiper-slide p{
    -webkit-line-clamp: 4;
}
    .content{
        bottom: -112px;
    }

    .swiper-button-next{
        left:72% !important;
        transform: translateX(-72%) !important;
    }
    .slider-arrow{
        top:calc(100% - 8px);
        width:2.5rem;
        left:28%;
        transform: translateX(-28%);
    }

input[type=submit]{
    width: 100%;
    
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=tel]::placeholder, textarea::placeholder {
    font-size: 12px;
}

.footer .social-links{
    padding: 0;
    justify-content: center;
}

.footer .footer-content{
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap:12px; 
    padding: 2.5rem 12%;
}

.footer h2{
    font-size: 1.9rem;
}

.footer h3{
    font-size: 1.8rem;
}

.box-container, .flex-container, .swiper {
    padding: 1.5rem 3%;
}
}
